.main-right__subtitle {
  color: rgba(102, 102, 102, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main-right__titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
