.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 100px;

  border-bottom: 1px solid #bebcbd;
  &__logo {
    cursor: pointer;
  }
  &__search {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    border-radius: 8px;
    background: #f6f6f6;
    &-img {
      cursor: pointer;
    }
    &-input {
      box-sizing: border-box;
      text-align: left;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      background: #f6f6f6;
      border: none;
      outline: none;
      width: 250px;
    }
  }
  &__lang {
    cursor: pointer;
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    outline: none;
    &-container {
      display: flex;
      align-items: center;
      gap: 15px;
      &::after {
        content: "▼";
        color: black;
      }
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;
  }
}
.btn-white-active {
  border: none !important;
  background: #8a33fd !important;
  color: #fff !important;
  cursor: initial !important;
}
