.feedback {
  box-sizing: border-box;
  padding: 23px;
  width: 453px;
  height: 150px;
  border-radius: 10px;
  border: 1.8px solid #bebcbd;
  background: #fff;
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__name {
    color: #3c4242;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.44px;
  }
  &__text {
    overflow: hidden;
    color: #807d7e;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
  }
}
